{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'list.title.list_products'|trans({}, 'SandboxAssortmentBundleProduct') }}<small> {{ 'list.title.list_products_description'|trans({}, 'SandboxAssortmentBundleProduct') }}</small></h1>
</div>

<div class="well">
<a href="{{ path('sylius_assortment_backend_product_create') }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> {{ 'list.button.create_product'|trans({}, 'SandboxAssortmentBundleProduct') }}
</a>
{% if not app.request.query.get('deleted') %}
<a href="{{ path('sylius_assortment_backend_product_list', {'deleted': true}) }}" class="btn">
    <i class="icon-trash"></i> {{ 'list.button.show_deleted_products'|trans({}, 'SandboxAssortmentBundleProduct') }}
</a>
{% else %}
<a href="{{ path('sylius_assortment_backend_product_list', {'deleted': false}) }}" class="btn">
    <i class="icon-trash"></i> {{ 'list.button.hide_deleted_products'|trans({}, 'SandboxAssortmentBundleProduct') }}
</a>
{% endif %}
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% if products|length > 0 %}
    <table class="table">
    <thead>
        <tr>
            <th><a href="{{ path('sylius_assortment_backend_product_list', {'sort': 'id', 'order': sorter.order}) }}">{{ 'list.table.product_id'|trans({}, 'SandboxAssortmentBundleProduct') }}</a></th>
            <th><a href="{{ path('sylius_assortment_backend_product_list', {'sort': 'sku', 'order': sorter.order}) }}">{{ 'list.table.product_sku'|trans({}, 'SandboxAssortmentBundleProduct') }}</a></th>
            <th><a href="{{ path('sylius_assortment_backend_product_list', {'sort': 'name', 'order': sorter.order}) }}">{{ 'list.table.product_name'|trans({}, 'SandboxAssortmentBundleProduct') }}</a></th>
            <th><a href="{{ path('sylius_assortment_backend_product_list', {'sort': 'category', 'order': sorter.order}) }}">{{ 'list.table.product_category'|trans({}, 'SandboxAssortmentBundleProduct') }}</a></th>
            <th><a href="{{ path('sylius_assortment_backend_product_list', {'sort': 'updatedAt', 'order': sorter.order}) }}">{{ 'list.table.product_updated_at'|trans({}, 'SandboxAssortmentBundleProduct') }}</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.name }}</td>
            <td>&bullet; <strong>{{ product.category.name }}</strong></td>
            <td>{{ product.updatedAt|date }}</td>
            <td>
                {% if not product.deleted %}
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a href="{{ path('sylius_assortment_backend_variant_list', {'productId': product.id}) }}" class="btn">
                           <i class="icon-book"></i> {{ 'list.button.list_variants'|trans({}, 'SandboxAssortmentBundleProduct') }}
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="{{ path('sylius_assortment_backend_product_show', {'id': product.id}) }}" class="btn">
                           <i class="icon-book"></i> {{ 'list.button.show'|trans({}, 'SandboxAssortmentBundleProduct') }}
                        </a>
                        <a href="{{ path('sylius_assortment_backend_product_update', {'id': product.id}) }}" class="btn">
                           <i class="icon-pencil"></i> {{ 'list.button.update'|trans({}, 'SandboxAssortmentBundleProduct') }}
                        </a>
                        <a href="{{ path('sylius_assortment_backend_product_duplicate', {'id': product.id}) }}" class="btn">
                           <i class="icon-plus-sign"></i> {{ 'list.button.duplicate'|trans({}, 'SandboxAssortmentBundleProduct') }}
                        </a>
                        <a href="{{ path('sylius_assortment_backend_product_delete', {'id': product.id}) }}" class="btn btn-danger confirmer"
                            data-confirmer-question="{{ 'list.dialog.product_confirm_delete'|trans({}, 'SandboxAssortmentBundleProduct') }}"
                        >
                            <i class="icon-remove icon-white"></i> {{ 'list.button.delete'|trans({}, 'SandboxAssortmentBundleProduct') }}
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="pull-right">
                    <span class="label label-important label-padded">
                        <i class="icon-trash icon-white"></i> {{ 'list.label.deleted'|trans({}, 'SandboxAssortmentBundleProduct') }}
                    </span>
                </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'list.information.title'|trans({}, 'SandboxAssortmentBundleProduct') }}</h4>
    {{ 'list.information.no_products'|trans({}, 'SandboxAssortmentBundleProduct') }}
</div>
{% endif %}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% endblock %}
