{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'show.title.show_product'|trans({}, 'SandboxAssortmentBundleProduct') }}</h1>
</div>

<div class="well">
    <div class="btn-group">
        <a href="{{ path('sylius_assortment_product_show', {'id': product.id, 'slug': product.slug}) }}" class="btn">
            <i class="icon-book"></i> {{ 'show.button.show_in_store'|trans({}, 'SandboxAssortmentBundleProduct') }}
        </a>
        <a href="{{ path('sylius_assortment_backend_product_update', {'id': product.id}) }}" class="btn">
            <i class="icon-pencil"></i> {{ 'show.button.update'|trans({}, 'SandboxAssortmentBundleProduct') }}
        </a>
        <a href="{{ path('sylius_assortment_backend_product_delete', {'id': product.id}) }}" class="btn btn-danger confirmer"
            data-confirmer-question="{{ 'show.dialog.product_confirm_delete'|trans({}, 'SandboxAssortmentBundleProduct') }}"
        >
            <i class="icon-remove icon-white"></i> {{ 'show.button.delete'|trans({}, 'SandboxAssortmentBundleProduct') }}
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>{{ 'show.table.product_id'|trans({}, 'SandboxAssortmentBundleProduct') }}</th>
            <th>{{ 'show.table.product_name'|trans({}, 'SandboxAssortmentBundleProduct') }}</th>
            <th>{{ 'show.table.product_options'|trans({}, 'SandboxAssortmentBundleProduct') }}</th>
            <th>{{ 'show.table.product_price'|trans({}, 'SandboxAssortmentBundleProduct') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>
                {% if product.options|length > 0 %}
                <ul>
                {% for option in product.options %}
                    <li>{{ option.name }}</li>
                {% endfor %}
                </ul>
                {% else %}
                    <span class="label label-info label-padded">
                        <i class="icon-list-alt icon-white"></i> There are no options for this product.
                    </span>
                {% endif %}
            </td>
            <td>{{ product.price }}</td>
        </tr>
    </tbody>
</table>

<div class="well">
<a href="{{ path('sylius_assortment_backend_variant_create', {'productId': product.id}) }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> <th>{{ 'show.button.create_variant'|trans({}, 'SandboxAssortmentBundleProduct') }}</th>
</a>
</div>

{% if product.variants|length > 0 %}
    <table class="table">
    <thead>
        <tr>
            <th>{{ 'show.table.variant_id'|trans({}, 'SandboxAssortmentBundleProduct') }}</th>
            <th>{{ 'show.table.variant_creation_time'|trans({}, 'SandboxAssortmentBundleProduct') }}</th>
            <th>{{ 'show.table.variant_option_set'|trans({}, 'SandboxAssortmentBundleProduct') }}</th>
            <th>{{ 'show.table.variant_price'|trans({}, 'SandboxAssortmentBundleProduct') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for variant in product.variants %}
        <tr>
            <td>{{ variant.id }}</td>
            <td>{{ variant.createdAt|date('Y-m-d H:i:s') }}</td>
            <td>
                <ul>
                {% for option in variant.options %}
                    <li><strong>{{ option.name }}</strong>: {{ option.value }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>{{ variant.price }} &euro;</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_assortment_backend_variant_show', {'id': variant.id}) }}" class="btn">
                       <i class="icon-book"></i> {{ 'show.button.show'|trans({}, 'SandboxAssortmentBundleProduct') }}
                    </a>
                    <a href="{{ path('sylius_assortment_backend_variant_update', {'id': variant.id}) }}" class="btn">
                       <i class="icon-pencil"></i> {{ 'show.button.update'|trans({}, 'SandboxAssortmentBundleProduct') }}
                    </a>
                    <a href="{{ path('sylius_assortment_backend_variant_delete', {'id': variant.id}) }}" class="btn btn-danger confirmer"
                        data-confirmer-question="{{ 'show.dialog.variant_confirm_delete'|trans({}, 'SandboxAssortmentBundleProduct') }}"
                    >
                        <i class="icon-remove icon-white"></i> {{ 'show.button.delete'|trans({}, 'SandboxAssortmentBundleProduct') }}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading"><th>{{ 'show.information.title'|trans({}, 'SandboxAssortmentBundleProduct') }}</th></h4>
    {{ 'show.information.no_variants'|trans({}, 'SandboxAssortmentBundleProduct') }}
</div>
{% endif %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">{{ 'show.table.properties'|trans({}, 'SandboxAssortmentBundleProduct') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for property in product.properties %}
        <tr>
            <td><strong>{{ property.name }}</strong></td>
            <td>{{ property.value }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2">{{ 'show.information.no_properties'|trans({}, 'SandboxAssortmentBundleProduct') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="well">
{{ product.description|markdown }}
</div>

{% endblock content %}
