{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'list.title.list_properties'|trans({}, 'SandboxAssortmentBundleProperty') }}</h1>
</div>

<div class="well">
<a href="{{ path('sylius_assortment_backend_property_create') }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> {{ 'list.button.create_property'|trans({}, 'SandboxAssortmentBundleProperty') }}
</a>
</div>

{% if properties|length > 0 %}
    <table class="table">
    <thead>
        <tr>
            <th>{{ 'list.table.property_id'|trans({}, 'SandboxAssortmentBundleProperty') }}</th>
            <th>{{ 'list.table.property_name'|trans({}, 'SandboxAssortmentBundleProperty') }}</th>
            <th>{{ 'list.table.property_presentation'|trans({}, 'SandboxAssortmentBundleProperty') }}</th>
            <th>{{ 'list.table.property_craated_at'|trans({}, 'SandboxAssortmentBundleProperty') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for property in properties %}
        <tr>
            <td>{{ property.id }}</td>
            <td>{{ property.name }}</td>
            <td>{{ property.presentation }}</td>
            <td>{{ property.createdAt|date('Y-m-d H:i:s') }}</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_assortment_backend_property_update', {'id': property.id}) }}" class="btn">
                       <i class="icon-pencil"></i> {{ 'list.button.update'|trans({}, 'SandboxAssortmentBundleProperty') }}
                    </a>
                    <a href="{{ path('sylius_assortment_backend_property_delete', {'id': property.id}) }}" class="btn btn-danger confirmer"
                        data-confirmer-question="{{ 'list.dialog.property_confirm_delete'|trans({}, 'SandboxAssortmentBundleProperty') }}"
                    >
                        <i class="icon-remove icon-white"></i> {{ 'list.button.delete'|trans({}, 'SandboxAssortmentBundleProperty') }}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'list.information.title'|trans({}, 'SandboxAssortmentBundleProperty') }}</h4>
    {{ 'list.information.no_properties'|trans({}, 'SandboxAssortmentBundleProperty') }}
</div>
{% endif %}
{% endblock %}
