{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>{{ 'list.title.list_posts'|trans({}, 'SandboxBloggerBundlePost') }}<small> {{ 'list.title.list_posts_description'|trans({}, 'SandboxBloggerBundlePost') }}</small></h1>
{% endblock %}

{% block content %}
<div class="well">
<a href="{{ path('sylius_blogger_backend_post_create') }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> {{ 'list.button.create_post'|trans({}, 'SandboxBloggerBundlePost') }}
</a>
</div>

{% if posts|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ 'list.table.post_id'|trans({}, 'SandboxBloggerBundlePost') }}</th>
            <th>{{ 'list.table.post_title'|trans({}, 'SandboxBloggerBundlePost') }}</th>
            <th>{{ 'list.table.post_author'|trans({}, 'SandboxBloggerBundlePost') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.author }}</td>
                <td>
                    <div class="pull-right btn-group">
                        <a href="{{ path('sylius_blogger_backend_post_show', {'id': post.id}) }}" class="btn">
                            <i class="icon-book"></i> {{ 'list.button.read'|trans({}, 'SandboxBloggerBundlePost') }}
                        </a>
                        <a href="{{ path('sylius_blogger_backend_post_update', {'id': post.id}) }}" class="btn">
                            <i class="icon-pencil"></i> {{ 'list.button.update'|trans({}, 'SandboxBloggerBundlePost') }}
                        </a>
                        <a href="{{ path('sylius_blogger_backend_post_delete', {'id': post.id}) }}" class="btn btn-danger confirmer"
                            data-toggle="modal"
                            data-target="confirmer-modal"
                            data-confirmer-question="{{ 'list.dialog.post_confirm_delete'|trans({}, 'SandboxBloggerBundlePost') }}"
                        >
                            <i class="icon-remove icon-white"></i> {{ 'list.button.delete'|trans({}, 'SandboxBloggerBundlePost') }}
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'list.information.title'|trans({}, 'SandboxBloggerBundlePost') }}</h4>
    {{ 'list.information.no_posts'|trans({}, 'SandboxBloggerBundlePost') }}
</div>
{% endif %}

{% endblock %}
