{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>{{ 'show.title.show_post'|trans({}, 'SandboxBloggerBundlePost') }}</h1>
{% endblock %}

{% block content %}
<div class="well">
<a href="{{ path('sylius_blogger_backend_post_update', {'id': post.id}) }}" class="btn">
    <i class="icon-pencil"></i> {{ 'show.button.update'|trans({}, 'SandboxBloggerBundlePost') }}
</a>
<a href="{{ path('sylius_blogger_backend_post_delete', {'id': post.id}) }}" class="btn btn-danger confirmer"
    data-toggle="modal"
    data-target="confirmer-modal"
    data-confirmer-question="{{ 'show.dialog.post_confirm_delete'|trans({}, 'SandboxBloggerBundlePost') }}"
>
    <i class="icon-remove icon-white"></i> {{ 'show.button.delete'|trans({}, 'SandboxBloggerBundlePost') }}
</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>{{ 'show.table.post_id'|trans({}, 'SandboxBloggerBundlePost') }}</th>
            <th>{{ 'show.table.post_title'|trans({}, 'SandboxBloggerBundlePost') }}</th>
            <th>{{ 'show.table.post_author'|trans({}, 'SandboxBloggerBundlePost') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.author }}</td>
        </tr>
    </tbody>
</table>

<div class="well">
<h2>{{ 'show.title.post_content'|trans({}, 'SandboxBloggerBundlePost') }}</h2>
{{ post.content|markdown }}
</div>

{% endblock %}
