{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>{{ 'list.title.list_addresses'|trans({}, 'SandboxAddressingBundleAddress') }}<small> {{ 'list.title.list_addresses_description'|trans({}, 'SandboxAddressingBundleAddress') }}</small></h1>
{% endblock %}

{% block content %}
<div class="well">
<a href="{{ path('sylius_addressing_backend_address_create') }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> {{ 'list.button.create_address'|trans({}, 'SandboxAddressingBundleAddress') }}
</a>
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% if addresses %}
<table class="table">
    <thead>
        <tr>
            <th><a href="{{ path('sylius_addressing_backend_address_list', {'sort': 'id', 'order': sorter.order}) }}">{{ 'list.table.address_id'|trans({}, 'SandboxAddressingBundleAddress') }}</a></th>
            <th><a href="{{ path('sylius_addressing_backend_address_list', {'sort': 'firstname', 'order': sorter.order}) }}">{{ 'list.table.address_firstname'|trans({}, 'SandboxAddressingBundleAddress') }}</a></th>
            <th><a href="{{ path('sylius_addressing_backend_address_list', {'sort': 'lastname', 'order': sorter.order}) }}">{{ 'list.table.address_lastname'|trans({}, 'SandboxAddressingBundleAddress') }}</a></th>
            <th><a href="{{ path('sylius_addressing_backend_address_list', {'sort': 'city', 'order': sorter.order}) }}">{{ 'list.table.address_city'|trans({}, 'SandboxAddressingBundleAddress') }}</a></th>
            <th><a href="{{ path('sylius_addressing_backend_address_list', {'sort': 'street', 'order': sorter.order}) }}">{{ 'list.table.address_street'|trans({}, 'SandboxAddressingBundleAddress') }}</a></th>
            <th><a href="{{ path('sylius_addressing_backend_address_list', {'sort': 'postcode', 'order': sorter.order}) }}">{{ 'list.table.address_postcode'|trans({}, 'SandboxAddressingBundleAddress') }}</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for address in addresses %}
        <tr>
            <td>{{ address.id }}</td>
            <td>{{ address.firstname }}</td>
            <td>{{ address.lastname }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.street }}</td>
            <td>{{ address.postcode }}</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_addressing_backend_address_show', {'id': address.id}) }}" class="btn">
                        <i class="icon-book"></i> {{ 'list.button.show'|trans({}, 'SandboxAddressingBundleAddress') }}
                    </a>
                    <a href="{{ path('sylius_addressing_backend_address_update', {'id': address.id}) }}" class="btn">
                        <i class="icon-pencil"></i> {{ 'list.button.update'|trans({}, 'SandboxAddressingBundleAddress') }}
                    </a>
                    <a href="{{ path('sylius_addressing_backend_address_delete', {'id': address.id}) }}"  class="btn btn-danger confirmer"
                        data-confirmer-question="{{ 'list.dialog.address_confirm_delete'|trans({}, 'SandboxAddressingBundleAddress') }}"
                    >
                        <i class="icon-remove icon-white"></i> {{ 'list.button.delete'|trans({}, 'SandboxAddressingBundleAddress') }}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'list.information.title'|trans({}, 'SandboxAddressingBundleAddress') }}</h4>
    {{ 'list.information.no_addresses'|trans({}, 'SandboxAddressingBundleAddress') }}
</div>
{% endif %}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% endblock %}
