{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>{{ 'list.title.list_categories'|trans({}, 'SandboxAssortmentBundleCategory') }}<small> {{ 'list.title.list_categories_description'|trans({}, 'SandboxAssortmentBundleCategory') }}</small></h1>
</div>

<div class="well">
<a href="{{ path('sylius_categorizer_backend_category_create', {'alias': catalog.alias}) }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> {{ 'list.button.create_category'|trans({}, 'SandboxAssortmentBundleCategory') }}
</a>
</div>

{% if categories %}
<table class="table">
    <thead>
        <tr>
            <th>{{ 'list.table.category_id'|trans({}, 'SandboxAssortmentBundleCategory') }}</th>
            <th>{{ 'list.table.category_name'|trans({}, 'SandboxAssortmentBundleCategory') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <div class="pull-right btn-toolbar">
                        <div class="btn-group">
                            {% if loop.first %}
                            <a class="btn disabled">&uarr;</a>
                            {% else %}
                            <a href="{{ path('sylius_categorizer_backend_category_move_up', {'alias': catalog.alias, 'id': category.id}) }}" class="btn">&uarr;</a>
                            {% endif %}

                            {% if loop.last %}
                            <a class="btn disabled">&darr;</a>
                            {% else %}
                            <a href="{{ path('sylius_categorizer_backend_category_move_down', {'alias': catalog.alias, 'id': category.id}) }}" class="btn">&darr;</a>
                            {% endif %}
                        </div>
                        <div class="btn-group">
                            <a href="{{ path('sylius_categorizer_backend_category_show', {'alias': catalog.alias, 'id': category.id}) }}" class="btn">
                                <i class="icon-list-alt"></i> {{ 'list.button.list_products'|trans({}, 'SandboxAssortmentBundleCategory') }}
                            </a>
                            <a href="{{ path('sylius_categorizer_backend_category_update', {'alias': catalog.alias, 'id': category.id}) }}" class="btn">
                                <i class="icon-pencil"></i> {{ 'list.button.update'|trans({}, 'SandboxAssortmentBundleCategory') }}
                            </a>
                            <a href="{{ path('sylius_categorizer_backend_category_delete', {'alias': catalog.alias, 'id': category.id}) }}" class="btn btn-danger confirmer"
                                data-confirmer-question="{{ 'list.dialog.category_confirm_delete'|trans({}, 'SandboxAssortmentBundleCategory') }}"
                            >
                                <i class="icon-remove icon-white"></i> {{ 'list.button.delete'|trans({}, 'SandboxAssortmentBundleCategory') }}
                            </a>
                        </div>
                    </div>
                </td>
            </tr>

            {% if category['__children'] is defined %}
                {% include 'SandboxAssortmentBundle:Backend/Category:node.html.twig' %}
            {% endif %}
            {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'list.information.title'|trans({}, 'SandboxAssortmentBundleCategory') }}</h4>
    There are no categories to display.
    {{ 'list.information.no_categories'|trans({}, 'SandboxAssortmentBundleCategory') }}
</div>
{% endif %}

{% endblock %}
