{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% import 'SandboxAssortmentBundle:Backend/Product:macros.html.twig' as macros %}

{% block header %}
    <h1>{{ 'category.show.title.show_category'|trans({}, 'SandboxAssortmentBundle') }}<small> {{ 'category.show.title.show_category_description'|trans({}, 'SandboxAssortmentBundle') }}</small></h1>
{% endblock %}

{% block content %}
<div class="well">
    <a href="{{ path('sylius_assortment_backend_product_create') }}" class="btn btn-primary">
        <i class="icon-plus icon-white"></i> {{ 'category.show.button.create_product'|trans({}, 'SandboxAssortmentBundle') }}
    </a>
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap', {'prev_message': "previous page...", 'next_message': "next page..."}) }}
{% endif %}

{{ macros.list(products)  }}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap', {'prev_message': "previous page...", 'next_message': "next page..."}) }}
{% endif %}

{% endblock %}
