{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'category.update.title.update_category'|trans({}, 'SandboxAssortmentBundle') }}<small> {{ 'category.update.title.update_category_description'|trans({}, 'SandboxAssortmentBundle') }}</small></h1>
</div>

<form action="{{ path('sylius_categorizer_backend_category_update', {'alias': catalog.alias, 'id': category.id}) }}" method="post" class="form-horizontal">
<fieldset>
    {{ form_row(form.name, {'attr': {'class': 'span7'}}) }}
    {{ form_row(form.parent, {'empty_value': 'category.update.select.choose_category'|trans({}, 'SandboxAssortmentBundle')}) }}
</fieldset>
    {{ form_rest(form) }}
    <div class="form-actions">
    <input type="submit" value="{{ 'category.update.button.save_changes'|trans({}, 'SandboxAssortmentBundle') }}" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
