{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'list.title.list_options'|trans({}, 'SandboxAssortmentBundleOption') }}<small> {{ 'list.title.list_options_description'|trans({}, 'SandboxAssortmentBundleOption') }}</small></h1>
</div>

<div class="well">
<a href="{{ path('sylius_assortment_backend_option_create') }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> {{ 'list.button.create_option'|trans({}, 'SandboxAssortmentBundleOption') }}
</a>
</div>

{% if options|length > 0 %}
    <table class="table">
    <thead>
        <tr>
            <th>{{ 'list.table.option_id'|trans({}, 'SandboxAssortmentBundleOption') }}</th>
            <th>{{ 'list.table.option_name'|trans({}, 'SandboxAssortmentBundleOption') }}</th>
            <th>{{ 'list.table.option_values'|trans({}, 'SandboxAssortmentBundleOption') }}</th>
            <th>{{ 'list.table.created_at'|trans({}, 'SandboxAssortmentBundleOption') }}</th>
            <th>{{ 'list.table.updated_at'|trans({}, 'SandboxAssortmentBundleOption') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for option in options %}
        <tr>
            <td>{{ option.id }}</td>
            <td>{{ option.name }}</td>
            <td>
                <ul>
                    {% for value in option.values %}
                    <li>{{ value }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ option.createdAt|date }}</td>
            <td>{{ option.updatedAt|date }}</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_assortment_backend_option_update', {'id': option.id}) }}" class="btn">
                       <i class="icon-pencil"></i> {{ 'list.button.update'|trans({}, 'SandboxAssortmentBundleOption') }}
                    </a>
                    <a href="{{ path('sylius_assortment_backend_option_delete', {'id': option.id}) }}" class="btn btn-danger confirmer"
                        data-confirmer-question="{{ 'list.dialog.option_confirm_delete'|trans({}, 'SandboxAssortmentBundleOption') }}"
                    >
                        <i class="icon-remove icon-white"></i> {{ 'list.button.delete'|trans({}, 'SandboxAssortmentBundleOption') }}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'list.information.title'|trans({}, 'SandboxAssortmentBundleOption') }}</h4>
    {{ 'list.information.no_options'|trans({}, 'SandboxAssortmentBundleOption') }}
</div>
{% endif %}
{% endblock %}
