{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'list.title.list_prototype'|trans({}, 'SandboxAssortmentBundlePrototype') }}<small> {{ 'list.title.list_prototype_description'|trans({}, 'SandboxAssortmentBundlePrototype') }}</small></h1>
</div>

<div class="well">
<a href="{{ path('sylius_assortment_backend_prototype_create') }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> {{ 'list.button.create_prototype'|trans({}, 'SandboxAssortmentBundlePrototype') }}
</a>
</div>

{% if prototypes|length > 0 %}
    <table class="table">
    <thead>
        <tr>
            <th>{{ 'list.table.prototype_id'|trans({}, 'SandboxAssortmentBundlePrototype') }}</th>
            <th>{{ 'list.table.prototype_name'|trans({}, 'SandboxAssortmentBundlePrototype') }}</th>
            <th>{{ 'list.table.prototype_created_at'|trans({}, 'SandboxAssortmentBundlePrototype') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for prototype in prototypes %}
        <tr>
            <td>{{ prototype.id }}</td>
            <td>{{ prototype.name }}</td>
            <td>{{ prototype.createdAt|date('Y-m-d H:i:s') }}</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_assortment_backend_prototype_build', {'id': prototype.id}) }}" class="btn">
                       <i class="icon-play-circle"></i> {{ 'list.button.build'|trans({}, 'SandboxAssortmentBundlePrototype') }}
                    </a>
                    <a href="{{ path('sylius_assortment_backend_prototype_update', {'id': prototype.id}) }}" class="btn">
                       <i class="icon-pencil"></i> {{ 'list.button.update'|trans({}, 'SandboxAssortmentBundlePrototype') }}
                    </a>
                    <a href="{{ path('sylius_assortment_backend_prototype_delete', {'id': prototype.id}) }}" class="btn btn-danger confirmer"
                        data-confirmer-question="{{ 'list.dialog.prototype_confirm_delete'|trans({}, 'SandboxAssortmentBundlePrototype') }}"
                    >
                        <i class="icon-remove icon-white"></i> {{ 'list.button.delete'|trans({}, 'SandboxAssortmentBundlePrototype') }}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'list.information.title'|trans({}, 'SandboxAssortmentBundlePrototype') }}</h4>
    {{ 'list.information.no_prototypes'|trans({}, 'SandboxAssortmentBundlePrototype') }}
</div>
{% endif %}
{% endblock %}
