{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'list.title.list_variants'|trans({}, 'SandboxAssortmentBundleVariant') }}<small> {{ 'list.title.list_variants_description'|trans({}, 'SandboxAssortmentBundleVariant') }}</small></h1>
</div>

<div class="well">
<a href="{{ path('sylius_assortment_backend_variant_create', {'productId': product.id}) }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> {{ 'list.button.create_variant'|trans({}, 'SandboxAssortmentBundleVariant') }}
</a>
</div>

{% if variants|length > 0 %}
    <table class="table">
    <thead>
        <tr>
            <th>{{ 'list.table.variant_id'|trans({}, 'SandboxAssortmentBundleVariant') }}</th>
            <th>{{ 'list.table.variant_sku'|trans({}, 'SandboxAssortmentBundleVariant') }}</th>
            <th>{{ 'list.table.variant_created_at'|trans({}, 'SandboxAssortmentBundleVariant') }}</th>
            <th>{{ 'list.table.variant_option_set'|trans({}, 'SandboxAssortmentBundleVariant') }}</th>
            <th>{{ 'list.table.variant_price'|trans({}, 'SandboxAssortmentBundleVariant') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for variant in variants %}
        <tr>
            <td>{{ variant.id }}</td>
            <td>{{ variant.sku }}</td>
            <td>{{ variant.createdAt|date }}</td>
            <td>
                <ul>
                    {% for option in variant.options %}
                        <li><strong>{{ option.name }}</strong>: {{ option.value }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ variant.price }} &euro;</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_assortment_backend_variant_show', {'id': variant.id}) }}" class="btn">
                       <i class="icon-book"></i> {{ 'list.button.show'|trans({}, 'SandboxAssortmentBundleVariant') }}
                    </a>
                    <a href="{{ path('sylius_assortment_backend_variant_update', {'id': variant.id}) }}" class="btn">
                       <i class="icon-pencil"></i> {{ 'list.button.update'|trans({}, 'SandboxAssortmentBundleVariant') }}
                    </a>
                    <a href="{{ path('sylius_assortment_backend_variant_delete', {'id': variant.id}) }}" class="btn btn-danger confirmer"
                        data-confirmer-question="{{ 'list.dialog.variant_confirm_delete'|trans({}, 'SandboxAssortmentBundleVariant') }}"
                    >
                        <i class="icon-remove icon-white"></i> {{ 'list.button.delete'|trans({}, 'SandboxAssortmentBundleVariant') }}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'list.infromation.title'|trans({}, 'SandboxAssortmentBundleVariant') }}</h4>
    {{ 'list.infromation.no_variants'|trans({}, 'SandboxAssortmentBundleVariant') }}
</div>
{% endif %}
{% endblock %}
