{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'update.title.update_status'|trans({}, 'SandboxSalesBundleStatus') }}<small> {{ 'update.title.update_status_description'|trans({}, 'SandboxSalesBundleStatus') }}</small></h2>
</div>

<form action="{{ path('sylius_sales_backend_status_update', {'id': status.id}) }}" method="post" class="form-horizontal">
<fieldset>
    {{ form_row(form.name, {'attr': {'class': 'span6'}}) }}
</fieldset>
    {{ form_rest(form) }}
    <div class="form-actions">
       <input type="submit" value="{{ 'update.button.save_changes'|trans({}, 'SandboxSalesBundleStatus') }}" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}

