{% if order.closed %}
{{ form_widget(form.status, {'attr': {'disabled': 'disabled', 'title':'change_status.title.order_closed'|trans({}, 'SandboxSalesBundleOrder')}}) }}
{% else %}
<form method="post" action="{{ path('sylius_sales_backend_order_status', {'id': order.id}) }}" class="form-inline">
{{ form_widget(form.status) }}
{{ form_rest(form) }}
<input type="submit" class="btn btn-primary" value="{{ 'change_status.button.change_status'|trans({}, 'SandboxSalesBundleOrder') }}" />
</form>
{% endif %}
