{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'show.title.show_order'|trans({}, 'SandboxSalesBundleOrder') }}<small> {{ 'show.title.show_order_description %order_id%'|trans({'%order_id%': order.id}, 'SandboxSalesBundleOrder') }}</small></h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">{{ 'show.table.basic_information'|trans({}, 'SandboxSalesBundleOrder') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>{{ 'show.table.order_id'|trans({}, 'SandboxSalesBundleOrder') }}</strong></td>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'show.table.order_value'|trans({}, 'SandboxSalesBundleOrder') }}</strong></td>
            <td>{{ order.value }} &euro;</td>
        </tr>
        <tr>
            <td><strong>{{ 'show.table.order_created_at'|trans({}, 'SandboxSalesBundleOrder') }}</strong></td>
            <td>{{ order.createdAt|date('d.m.Y, H:i:s') }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'show.table.order_status'|trans({}, 'SandboxSalesBundleOrder') }}</strong></td>
            <td>
                {% render 'sylius_sales.controller.backend.order:changeStatusAction' with {'id': order.id} %}
            </td>
        </tr>
    </tbody>
</table>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">{{ 'show.table.address_information'|trans({}, 'SandboxSalesBundleOrder') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>{{ 'show.table.address_firstname'|trans({}, 'SandboxSalesBundleOrder') }}</strong></td>
            <td>{{ order.address.firstname }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'show.table.address_lastname'|trans({}, 'SandboxSalesBundleOrder') }}</strong></td>
            <td>{{ order.address.lastname }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'show.table.address_street'|trans({}, 'SandboxSalesBundleOrder') }}</strong></td>
            <td>{{ order.address.street }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'show.table.address_city'|trans({}, 'SandboxSalesBundleOrder') }}</strong></td>
            <td>{{ order.address.city }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'show.table.address_postcode'|trans({}, 'SandboxSalesBundleOrder') }}</strong></td>
            <td>{{ order.address.postcode }}</td>
        </tr>
    </tbody>
</table>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{{ 'show.table.product_name'|trans({}, 'SandboxSalesBundleOrder') }}</th>
            <th>{{ 'show.table.variant'|trans({}, 'SandboxSalesBundleOrder') }}</th>
            <th>{{ 'show.table.quantity'|trans({}, 'SandboxSalesBundleOrder') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.cart.items %}
            <tr>
                <td>{{ item.variant.product.name }}</td>
                <td>
                    <ul class="unstyled">
                        {% for option in item.variant.options %}
                        <li><strong>{{ option.presentation }}</strong>: {{ option.value }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ item.quantity }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
